#main{
    min-height: 100vh;
    background: linear-gradient(270deg, var(--cinza-escuro) 44.71%, #282047 100%); /* 270deg -> direção - direita para esquerda*/
                                                            /* 44.71% -> porcentagem que essa primeira cor permanece no degradê antes de começar a transição*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; /* Para alinhar o card de login ao meio */
}

.imagem_mulher{
    display: flex;
    justify-content: center;
    align-items: end; /* Manda a imagem para o final da página verticalmente */
}

.imagem_mulher img{
    width: 63%;
}

.form_login{
    width: 75%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10%;
}   

.form_login img{
    width: 60%;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    gap: 10%;
}

.campo_form{
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-family: var(--fonte-texto);
    color: var(--cinza-claro);
    font-size: 25px;
    font-weight: 500;
}

.botao_entrar{
    width: 45%;
    margin-top: 6%;
    align-self: center; /* align-self: -> centraliza apenas esse item específico*/
}