*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 

    font-family: var(--fonte-titulo);
    font-family: var(--fonte-texto);
}

:root{
    --cinza-claro: #D6D2E6;
    --roxo-destaque: #7A3BFF;
    --rosa-destaque: #FF004C;
    --cinza-escuro: #221C2D;
    --fundo-escuro: #0B0616;

    --fundo-gradiente: linear-gradient(270deg, #261f33 15%, #2b224f 100%);
}

.layout_guide{
    width: 80%;
}

.efeito_vidro_card {
    border: 1px solid rgba(255, 255, 255, 0.3); /* Cor branca com transparência(30% visível) */
    border-radius: 10px;
    
    background: rgba(255, 255, 255, 0); /* Fundo branco totalmente transparente */

    box-shadow: 3px 3px 12px rgba(0, 0, 0, .48) inset, /* inset -> Sombra interna */
                -1px -1px 10px rgba(255, 255, 255, 0.15) inset; 

    backdrop-filter: blur(6px); /* Desfocar o que está atrás do elemento */
    -webkit-backdrop-filter: blur(6px); /* Alguns navegadores precisam do prefixo -webkit para reconhecer o backdrop-filter(blur) */
} 

.efeito_vidro_input{
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;

    background: rgba(214, 210, 230, 0.2);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .3) inset,
                -2px -2px 10px rgba(255, 255, 255, 0.2) inset;
                
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    /* Texto */
    color: white;
    font-size: 16px;
    padding-left: 10px;
}