#main{
    display: flex;
    justify-content: center;
}

.container_listagem{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.botoes_catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 80%;
}

.botoes_catalogo input::placeholder{
    color: white;
    font-size: 16px;
}

.campo_pesquisa{
    width: 100%;
}

.campo_pesquisa input{
    display: flex;
    width: 100%;
}

.filtro{
    display: flex;
    width: 30%;
}

.filtro_select{
    display: flex;
    width: 100%;
    justify-content: space-between;
}




.cards{
    display: flex;
}



