#header{
    height: 18vh;
    background: linear-gradient(180deg, var(--cinza-escuro) 0%, rgba(34, 28, 45, 0) 100%);

    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 18%;
}

.nav_menu{
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav_menu a{
   font-size: 25px;
   font-weight: 400;
   color: white;
   text-decoration: none;
}

.nav_menu a:hover{
    color: var(--rosa-destaque);
}

.botao_header{
    width: 150px;
}